

body {
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 113px;
text-align: center;
letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
html {
  margin: 0 !important;
  padding: 0 !important
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
